<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Contatos</title>
  <link rel="stylesheet" href="/css/admin/adminStyles.css" />
  <script src="/js/admin/adminScripts.js" defer></script>
</head>
<body>
  <div class="app">
    <!-- Sidebar -->
    <%- include('./partials/sidebarPartialView') %>
    <!-- Main -->
    <main class="main">
 
    </main>
  </div>

</body>
</html>
