<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Editar Informações da Academia</title>
  <link rel="stylesheet" href="/css/admin/adminStyles.css" />
  <script src="/js/admin/agenteScripts.js" defer></script>
</head>
<body>
  <div class="app">
    <!-- Sidebar -->
    <%- include('./partials/sidebarPartialView') %>

    <!-- Main -->
    <main class="main">
      <!-- Topbar -->
      <%- include('./partials/topbarPartialView') %>

 
    </main>
  </div>
</body>
</html>
