<%- include('./partials/head', { title, styles }) %>
<body>
  <div class="app">
    <%- include('./partials/sidebar') %>
    <main class="main">
      <%- include('./partials/header') %>
      
      <div class="container">
        <h1>Dashboard</h1>

      </div>
    </main>
  </div>
  <%- include('./partials/scripts', { scripts }) %>
</body>
