<%- include('./partials/head', { title, styles }) %>
<body>
  <%- include('./partials/header') %>
  <main class="dashboard-main">
    <h1>Bem-vindo ao Dashboard Admin</h1>
    <p>Você está autenticado como administrador.</p>
  </main>
  <%- include('./partials/scripts', { scripts }) %>
</body>
   asdfasdf
<%- include('partials/scripts', { scripts }) %>
