<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Histórico</title>
</head>
<body>
  <h1>Histórico do contato</h1>

  <div id="chatHeader"></div>

  <div id="chatList"></div>

  <div id="chatCta"></div>

  <div id="chatError" style="color: red;"></div>

  <script type="module" src="/painel/js/historico.js"></script>
</body>
</html>
