<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Infinity • Painel de Controle</title>
  <link rel="stylesheet" href="/css/admin/adminGlobalStyles.css" />
  <script src="/js/admin/adminScripts.js" defer></script>
  <link rel="icon" type="image/png" href="/media/FAVICON.png" />
</head>