<aside class="sidebar">
  <div class="brand">
    <img src="/media/LOGO-INFINITY-2.png" alt="Academia Infinity" class="brand__logo" />
  </div>
  <nav class="nav"></nav>
    <a class="nav__link is-active" href="#"><i class="i i-dashboard"></i> Dashboard</a>
    <a class="nav__link" href="#"><i class="i i-settings"></i> Configurações</a>
    <a class="nav__link" href="#"><i class="i i-history"></i> Históricos</a>
    <a class="nav__link" href="#"><i class="i i-users"></i> Matrículas</a>
    <a class="nav__link" href="#"><i class="i i-summary"></i> Resumos</a>
  </nav>
  <div class="sidebar__footer">
    <button class="btn btn--ghost btn--sm">Sair</button>
  </div>
</aside>