<aside class="sidebar" id="sidebar">
  <div class="brand">
    <span class="brand__logo">▲</span>
    <span class="brand__name">RedDash</span>
  </div>
  <nav class="nav">
    <a class="nav__link is-active" href="#"><i class="i i-dashboard"></i> Dashboard</a>
    <a class="nav__link" href="#"><i class="i i-analytics"></i> Analytics</a>
    <a class="nav__link" href="#"><i class="i i-users"></i> Usuários</a>
    <a class="nav__link" href="#"><i class="i i-settings"></i> Configurações</a>
  </nav>
  <div class="sidebar__footer">
    <button class="btn btn--ghost btn--sm">Sair</button>
  </div>
</aside>
    <div class="sidebar__backdrop" id="sidebar-backdrop"></div>